[Unit]
Description=Plots the data from a sqlite telemetry database every x minutes into an html page
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=300s
ExecStart=/bin/bash /usr/bin/plotter.sh

[Install]
WantedBy=multi-user.target

